{% include 'header.html.twig' %}

{% block body %}

    {{ form_start(registrationForm, {"attr" : {"class":"w-full mx-auto max-w-lg"}} ) }}


    <a href="{{ path('index') }}">Retour</a>

    <div class="text-center">{{ form_label(registrationForm.lastname,"Nom ") }}</div>
    {{ form_widget(registrationForm.lastname, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"},"label": "Nom","label_attr": {"class": "text-red-200"}}) }}

    <div class="text-center">{{ form_label(registrationForm.firstname) }}</div>
    {{ form_widget(registrationForm.firstname, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}

    <div class="text-center">{{ form_label(registrationForm.email) }}</div>
    {{ form_widget(registrationForm.email, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}

    {# first_options #}

    <div class="text-center">{{ form_label(registrationForm.plainPassword.first) }}</div>
    {{ form_widget(registrationForm.plainPassword.first, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}


    {# second_options #}

    <div class="text-center">{{ form_label(registrationForm.plainPassword.second) }}</div>
    {{ form_widget(registrationForm.plainPassword.second, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}


    <div class="text-center">{{ form_label(registrationForm.address) }}</div>
    {{ form_widget(registrationForm.address, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}

    <div class="text-center">{{ form_label(registrationForm.postal_code) }}</div>
    {{ form_widget(registrationForm.postal_code, {"attr" : {"class":"block border border-grey-light focus:outline-2 focus:outline focus:outline-red-200 w-full p-3 rounded mb-4"}}) }}

    {# Status doit valider l'achat #}

    <div class="flex flex-col">
        <div><label for="status">En cochant cette case, vous acceptez de continuer le processus
                d'inscription:</label><input id="status" class="mx-2" required type="checkbox"/></div>
        <div class="self-center">{{ form_row(registrationForm.submit, {"attr" : {"class":"bg-blue-500 transition-colors hover:ease-in duration-700 hover:bg-green-500 text-white font-bold py-2 self-center my-5 mx-auto px-4 rounded"}}) }}</div>
    <stripe-buy-button
  buy-button-id="buy_btn_1NXq4NAGkY1RmUpys15T2mOX"
  publishable-key="pk_test_51NSHcwAGkY1RmUpyD0tZ7hgkPdEEgpU96vTBmkbWCiXxltV3XAtI8lMFHGarH9bOTW5749aAoKdDbur3kZgeSR0m00pcsIg2ZG"
>
</stripe-buy-button>
    </div>

    {{ form_end(registrationForm) }}
    <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>



{% endblock %}
