<head>
    <meta charset="UTF-8">
    {% if title is defined %}
        <title>File Storage - {{title}}</title>
    {% else %}
        <title>File Storage</title>
    {% endif %}
    <link rel="icon" href="https://img.icons8.com/cotton/64/null/happy-file.png">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto">
    <div class="h-16 mx-auto md:px-4 flex items-center justify-between flex-wrap md:flex-nowrap">
        <!-- Logo -->
        <a href="{{ path('index') }}">
        <div class="flex md:order-1 items-center">
            <!-- Heroicon - Chip Outline -->
            <img class="w-10 h-10" alt="logo site" src="https://img.icons8.com/cotton/64/null/happy-file.png"/>
            <h1>File Storage</h1>
        </div>
        </a>
        <div class="order-2 md:order-3">
            <a href="{{ path('app_login') }}" class="px-4 py-2 hover:outline hover:outline-2 hover:outline-offset-0 bg-indigo-500 hover:outline-blue-800 hover:bg-indigo-600 text-gray-50 rounded-3xl flex items-center gap-2">
                <span>Se connecter</span>
            </a>
        </div>
    </div>
</nav>
