{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
                    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="reset"><a href="{{ path('payment', {'user_id': app.user.id}) }}">Cliquez ici pour acheter 20Go supplémentaires.</a></button>

    <div class="container mx-auto mt-16 px-4">
        <div class="text-center">
            <h1 class="text-gray-800 text-4xl font-bold">Votre espace de stockage</h1>
        </div>
        {% if app.user.id == storage.user.id %}
        {{ form_start(form) }}
            <div class="grid grid-cols-8 gap-4 mt-7">
                    <div class="col-span-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Enregistrer un fichier</label>
                        {{ form_widget(form.file, {'label': false, 'attr': {'class': 'block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400'}}) }}
                        <span class="text-sm text-gray-500">Taille maximale du fichier : 2 Mo</span>
                    </div>
                    <div class="mt-7 col-span-1">
                        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit">Télécharger</button>
                    </div>
                {{ include('list/capacity.html.twig') }}
            </div>
        {{ form_end(form) }}
        {% else %}
                {{ include('list/capacity.html.twig') }}
        {% endif %}

        <table class="min-w-full divide-y divide-gray-200 rounded-lg overflow-hidden w-full mt-6">
            <thead>
                <tr>
                    <th class="px-6 py-3 bg-gray-100">Nom du fichier</th>
                    <th class="px-6 py-3 bg-gray-100">Format</th>
                    <th class="px-6 py-3 bg-gray-100">Taille</th>
                    <th class="px-6 py-3 bg-gray-100">Date mise en ligne</th>
                    <th class="px-6 py-3 bg-gray-100">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 space-y-4">
            {% for file in storage.getFiles %}
                <tr>
                    <td class="px-6 py-4 text-center">{{ file.name }}</td>
                    <td class="px-6 py-4 text-center">{{ file.format }}</td>
                    <td class="px-6 py-4 text-center">{{ file.size | format_size }}</td>
                    <td class="px-6 py-4 text-center">{{ file.uploadDate | date('Y-m-d H:i:s') }}</td>
                    <td class="px-auto py-4 flex justify-center">
                        <div class="m-auto flex justify-center w-1/2">
                            <a href="{{ path('app_download_file', {'id': file.id}) }}" download title="Download" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <i class="fas fa-download"></i>
                            </a>
                            <a href="{{ path('app_delete_file', {'id': file.id}) }}" type="button" title="Delete" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
